.img1 {
  width: 1300px;
  height: 600px;
}

.img2 {
  width: 1300px;
  height: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img3 {
  width: 1300px;
  height: 600px;
}

.div {
  margin-left: 16%;
}